{% load static %}
<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light" align="center">
        <img src="{% static 'images/DSLablogo.png' %}" height="70px" width="70px">
    </div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="">INTRODUCCIÓN</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="">PREDICCIÓN</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="">EXPLICATIVIDAD</a>
    </div>
</div>